<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signin.css">
    <title>Sign in</title>
</head>
<body>
    <header>
        <div class="main">
            <div class="name">
                <h2>Linkup</h2>
            </div>
            <div class="title">
                Sign In
            </div>
            <div class="form">
                <form id="siginform" action="/" method="POST">
                    <div class="textbox">
                        <label>Email</label><br>
                        <input required type="email" placeholder="Type Email" name ="email"><br>

                        <label>Password</label><br>
                        <input required type="password" placeholder="Enter password" name="pswd">
		                
                    </div>
                    <div class="btn">
                        <button type="submit">Submit</button><br> 
                        <p>Don't have any account ??  
                            <a href="/signup" >Signup</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </header>
</body>
</html>

